* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-align: center;
}

.margin {
    margin: 1rem auto;
}

.form {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.form form {
    border: 1px solid grey;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.navBar {
    background-color: #3b3bc0;
}

.navBar h1 {
    text-align: center;
    padding: 2rem;
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ul li {
    list-style-type: none;
    margin-bottom: 2rem;

}

.ul li a:hover {
    background-color: #353535;
}

.ul li a {
    transition: all .3s ease-in-out;
    text-decoration: none;
    color: #ffffff;
    text-decoration: none;
    background-color: #afafaf;
    padding: .75rem 1rem;
    border-radius: .5rem;
}

.container {
    margin: 2rem auto;
    width: 80vw;
}

.products {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
}

.products img {
    width: 10rem;
}

.cart {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}

.cart .cart__id {
    width: 15rem;
}

.filter {
    display: flex;
    gap: 1rem;
}

.cartProduct {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}

.gridForUser {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 0;
}

.userCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid gray;
    padding: 1rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userFrame {
    border: 1px solid gray;
    padding: 1rem;
}

.userFrame__info h3 {
    margin: 1rem 0;
    font-size: 2rem;
}

.userFrame__info p {
    margin: .5rem 0;
}

.userFrame__info span {
    font-weight: bold;
}