* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.margin {
    margin: 1rem auto;
}

.form {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.form form {
    border: 1px solid #ddd;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navBar {
    background-color: #3b3bc0;
    padding: 1rem;
    color: #fff;
}

.navBar h1 {
    margin: 0;
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    list-style: none;
}

.ul li {
    margin-bottom: 0;
}

.ul li a {
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    color: #fff;
    background-color: #afafaf;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
}

.ul li a:hover {
    background-color: #353535;
    color: #fff;
}

.container {
    margin: 2rem auto;
    width: 80%;
    max-width: 1200px;
}

.products {
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.products img {
    width: 10rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart {
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
    flex-wrap: wrap;
}

.cart .cart__id {
    width: 15rem;
}

.filter {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cartProduct {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
}

.gridForUser {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin: 1rem 0;
}

.userCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userFrame {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userFrame__info h3 {
    margin: 1rem 0;
    font-size: 1.8rem;
    color: #333;
}

.userFrame__info p {
    margin: 0.5rem 0;
    color: #555;
}

.userFrame__info span {
    font-weight: bold;
    color: #333;
}
