<div class="form">
    <form action="/products" id="productForm" method="post">
        <legend>Agregar Producto</legend>

        <div>
            <label>Titulo: </label>
            <input type="text" id="productTitle" name="title">
        </div>
        <div>
            <label>Descripción: </label>
            <input type="text" id="productDescription" name="description">
        </div>
        <div>
            <label>Precio: </label>
            <input type="number" id="productPrice" name="price" min="1">
        </div>
        <div>
            <label>Imagen: </label>
            <input type="text" id="productThumbnail" name="thumbnail">
        </div>
        <div>
            <label>Código: </label>
            <input type="text" id="productCode" name="code">
        </div>
        <div>
            <label>Stock: </label>
            <input type="number" id="productStock" name="stock" min="0">
        </div>
        <div>
            <label>Categoria: </label>
            <label>
                <select name="category">
                    <option value="">Todas las categorías</option>
                    <option value="almacenamiento">Almacenamiento</option>
                    <option value="fuente">Fuentes</option>
                    <option value="ram">Memorias</option>
                    <option value="accesorio">Accesorios</option>
                    <option value="motherboard">Placas Madre</option>
                    <option value="procesador">Procesador</option>
                    <option value="grafica">Placas de Video</option>
                </select>
            </label>
        </div>
        <input type="submit" id="addProduct" value="Agregar">
    </form>
</div>