<div class="margin container">
    <form action="/users/resetPassword/{{tid}}" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_email">Nueva Contraseña:</label>
        <input type="password" name="newPassword" id="_verifytoken" />

        <label for="_pass">Confirmar Contraseña:</label>
        <input type="password" name="confirmPassword" id="_newPass" />

        <button type="submit">Restablecer Contraseña</button>
    </form>
    <a class="margin" href="/users">Volver</a>
</div>