<div class="margin container">
    <form action="/api/sessions/verifyResetPassword" method="post" enctype="application/x-www-form-urlencoded">
        <legend>Utilice el código de 6 número que se ha enviado a su email para restablecer la contraseña</legend>
        <label for="_email">Token de Verificacion:</label>
        <input type="number" name="verifyToken" id="_verifytoken" />

        <label for="_pass">Nueva Contraseña</label>
        <input type="password" name="newPassword" id="_newPass" />

        <button type="submit">Restablecer Contraseña</button>
    </form>
    <a class="margin" href="/">Volver</a>
</div>