<div class="margin container">
    <form action="/api/sessions/resetPassword" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email" />

        <button type="submit">Restablecer Contraseña</button>
    </form>
    <a class="margin" href="/">Volver</a>
</div>