<div>
    {{#if isNotLoggedIn}}
    <ul class="ul margin">
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Register</a></li>
    </ul>
    {{/if}}

    {{#if isLoggedIn}}
    <ul class="ul margin">
        <li><a href="/users/profile">Perfil</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
    {{/if}}
</div>